/* 탑바 시작 */
header {
  height: 60px;
  background-color: skyblue;
  color:rgb(40,40,40);
}

.top-bar__logo {
  font-size: 1.5rem;
  padding: 0 20px;
  color: white;
}

.top-bar>ul>li {
  position: relative;
}

.top-bar>ul>li>a {
  padding: 0 20px;
  font-size: 1.1rem;
}

.top-bar>ul>li:hover>a {
background-color: white;
color:skyblue;
}

.top-bar>ul>li>a>span {
  margin-left: 5px;
}

.top-bar>ul ul {
  display: none;
  position: absolute;
  z-index: 5;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
}

.top-bar>ul ul>li {
  text-align: center;
}

.top-bar>ul>li:hover>ul {
  display: block;
}

.top-bar>ul ul>li>a {
min-width: 100%;
padding:5px 13px;
display: block;
}

.top-bar>ul ul>li:hover>a {
  background: white;
  color:skyblue;
}

/* 슬라이드 시작 */
.swiper-slide-box-1 {
  height: 500px;
  margin-top: 50px;
  z-index: -1;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: white;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: white;
}

.swiper-slide-box-1 .swiper-pagination .swiper-pagination-bullet {
  width:15px;
  height:15px;
  opacity:1;
  background-color:white;
}

.swiper-slide-box-1 .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color:transparent;
  background-color:skyblue;
}